NotesApp.xcworkspace/xcuserdata/vladislav.xcuserdatad/UserInterfaceState.xcuserstate
NotesApp/Business Logic/Storage/.DS_Store
NotesApp/Business Logic/.DS_Store
NotesApp/.DS_Store
.DS_Store
NotesApp.xcodeproj/project.xcworkspace/xcuserdata/vladislavavrutin.xcuserdatad/UserInterfaceState.xcuserstate
NotesApp/Business Logic/.DS_Store
NotesApp/Presentation/.DS_Store
NotesApp/.DS_Store
.DS_Store
*.xcuserstate
*.xcbkptlist
